.summaryReview {
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
  width: 380px !important; /* This is a good width that feels readable */
  height: 380px !important; /* ChatGPT has a tendency to overwrite, while i could catch this in the backend it is easy to just make a bigger popup */
  /*padding: 10px; */
  z-index: 170100031; /* Jesus christ this is dumb, set z-index to something ridiculous so we can actually see popup, eBay has HORRIBLE html which is why we need this ;( */
}
.summaryReview P {
  white-space: pre-line !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important; /* This really is just an arbitrary choice, I think pcpartpickers was overwriting to this font, and I liked it */
  font-size: 15px !important;
  line-height: 1.5 !important;
  padding: 10px !important;
}
